
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;

}
.box{
  position:absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:rgb(0,0, 0, 0.8);
  padding: 15px;
  border-radius: 20px;
  width: 28%;
  color: rgb(255, 255, 255);
 height: 76%;
  cursor: pointer;
  margin-top: 2%;

}



fieldset{
border: 3px solid aqua;
border-radius: 10px;
height: 500px;

}
legend{
  border: 3px solid aqua;
  padding: 8px;
  background-color: aqua;
  border-radius: 10px;
  color: black;
  
}

.inputbox{
  position: relative;
}


button{

  float: right;
  color: rgb(0, 0, 0) ;
  background-color: aqua;
  font-weight: bold;
  padding: 3px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
 

}

.fundo_en{
  color: black;
  
}

.fundo_en:hover{
  color: white;
  transition: all 1s;
}




input{
  padding: 6px ;
   border-radius: 7px;
   border :none;
   font-weight: bold;
   outline: none;
   font-size: 15px;
   cursor: pointer;
  background-color: rgb(255, 255, 255);
  
 

}


/*media serve para o ajuste da fonte*/

@media screen and (max-width: 390px){
body{
  background:greenyellow;
}
}

nav {
display: flex;
 justify-content:space-between;
margin: 0%;
 background-color: #ffffff;
 border-radius: 15px;
 height: 56px;
 width: 99%;
 cursor: pointer;
 overflow: hidden;
 

 
}

nav ul li{
display: inline;
margin: 3px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
padding: 0%;}

nav ul li a{


color: rgb(0, 0, 0);
text-decoration:none 


}

.fundo_voltar:hover{

color: #ffffff;
transition: all 1s;

}


/* cor q muda quando passa mouse */
nav ul li a:hover{
color: rgb(255, 255, 255);

font-weight: bold;

}

li.active, li:hover{
background-color: rgb(0, 0, 0);
}
